<main class='py-3'>
  <h1><%= title "Me" %></h1>
  <h4><%= t('forms.user.secret') %></h4>
  <div class="form-group">
    <input type="text" value="<%= current_user.secret %>" class="form-control" onclick="this.select();" readonly>
    <%= t('hints.user.secret') %>
  </div>
  <p><%= link_to t('actions.reset'), user_reset_secret_path, method: :post, class: 'btn btn-warning', data: { confirm: t('forms.user.reset_confirmation') } %></p>

  <h4>Merge user</h4>
  <p>
    <%= t('hints.user.merge_user', secret_key: "<code>#{t('forms.user.secret')}</code>").html_safe %>
    <%= form_tag user_merge_path, method: :post do %>
      <div class='form-group'>
        <%= text_field_tag 'user[secret]', nil, class: 'form-control', placeholder: t('forms.user.secret'), autocomplete: 'off' %>
      </div>

      <div class='actions'>
        <%= submit_tag t('actions.merge_user'), class: 'btn btn-info' %>
      </div>
    <% end %>
  </p>
</main>